.new {
    display: flex;
    padding: .5rem 1.5rem .5rem .5rem;
    width: 33.1rem;
    align-items: center;
    background: #191919;
    border-radius: 20rem;
    margin-top: 13.2rem;
    margin-bottom: 3rem;
}